basic-network/bin
basic-network/script/*
basic-network/channel-artifacts
basic-network/system-genesis-block

basic-network/organizations/ordererOrganizations
basic-network/organizations/peerOrganizations

basic-network/organizations/fabric-ca

application/node_modules
application/wallet
application/package-lock.json
application/connection-org1.json

chaincode/abstore
chaincode/basic

