basic-network/bin
basic-network/channel-artifacts
basic-network/system-genesis-block

basic-network/organizations/ordererOrganizations
basic-network/organizations/peerOrganizations

basic-network/organizations/fabric-ca

application/node_modules
application/wallet